/* base default*/
$basefontsize: 16;

@function rem($pixels, $context: $basefontsize) {
    @return calc($pixels / $context) * 1rem;
}

@function myClamp($min, $max, $min-view-port: 375, $max-view-port: 1920) {
    $valiable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
    $constant: calc(($max - $max-view-port * $valiable-part) / 16);
    $min-rem: calc($min / 16 * 1rem);
    $max-rem: calc($max / 16 * 1rem);
    $variable-rem: calc($constant * 1rem);
    $variable-vw: calc(100 * $valiable-part * 1vw);

    @return clamp($min-rem, $variable-rem + $variable-vw, $max-rem);
}
