---
/* コンポーネント */
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
/* scss */
import '../scss/style.scss';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Astro description">
		<meta property="og:image" content="サムネイル画像の URL" />
		<script type="module" src="./assets/js/common.js"></script>
	</head>
	<Header />
	<body>
		<slot />
	</body>
	<Footer />
</html>